*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

img {
  display: block;
  max-inline-size: 100%;
}

/*utilities*/

/*composition*/

/*blocks*/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
  margin-block-end: 2rem;
}

main {
  display: flex;
  align-items: center;
}

.btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 0.6rem;

  &[data-variant="add"] {
    padding-block: 0.5rem;
    inline-size: 90%;
    margin-inline: auto;
    border: 0.24rem dashed hsl(0 0% 30%);
    color: hsl(0 0% 30%);
    font-weight: 700;

    >.material-icons {
      font-weight: 700;
    }
  }
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
